header{
    background-color: #010e7e;
}

.navbar-brand{
    color: white;
    font-size: 20px;
}

.navbar-brand:hover{
    color: aqua;
}

.dropdown-toggle::after {
    display: none;
}

.form-control{
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.nav-link{
    color: lightblue;
}

.nav-link:hover{
    color: white;
    background-color: #0216cc;
}

.btn{
    color: black;
    background-color: white;
}

.btn:hover{
    color: white;

    border-color: white;
    background-color: #0216cc;
}

.navbar-toggler{
    background-color: white;
}

.navbar-toggler:hover{
    background-color: gainsboro;
}