body{
    background-color: #e5e5e5;
}

span{
    color: lightblue;
}

a{
    text-decoration: none;
    font-weight: bold;
}

img {
    border-style: none
}

.head-container{
    background-color: #010e7e;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 15px;
    margin-bottom: 0px;
    padding: 5px;
}

.head-container h3{
    margin-bottom: 0px;
}

.forum-top-block{
    background-color: azure;
    margin: 15px;
    margin-top: 0px;
    padding: 20px;
}

/* Стили для страницы поиска*/

.search-filter-container ul{
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
}

.search-filter-container li{
    list-style-type: none;
}

.forum-section_list {
    margin-bottom: 24px;
    background: #010e7e;
    border-radius: 4px;
    padding-left: 0px;
}

.forum-section_item {
    display: flex;
    align-items: center;
    padding: 11px 15px;
    border-top: 1px solid azure
}

.forum-section_item a,.pagination_item a{
    text-decoration: none;
    color: gainsboro;
    font-weight: bold;
}

.forum-section_item a:hover,.pagination_item a:hover{
    color: azure;
}

.forum-section_col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    max-height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden
}

.forum-section_col-1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px
}

.forum-section_col-1 img {
    width: 100%;
    border-radius: 4px
}

.forum-section_col-2 {
    width: 100%
}

.forum-section_p-center {
    display: flex;
    justify-content: flex-end;
    flex: 1
}

.forum-section_title {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.forum-section_name {
    font-size: 12px;
    color: #777779;
}

.forum-section_mes--mobile {
    display: none;
}

.forum-section_col-3 {
    min-width: 160px;
    margin: 0 15px
}

.forum-section_col-3 p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    color: azure;
    margin-bottom: 0px;
}

.forum-section_col-4 {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.forum-section_col-4>a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30px;
    max-height: 30px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden
}

.forum-section_col-4 img {
    width: 100%;
    border-radius: 4px
}

.forum-section_col-4 div {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.forum-section_col-4 div a {
    width: auto;
    font-size: 14px
}

.forum-section_col-4 div p {
    font-size: 12px;
}

.pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pagination_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.pagination_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 6px 9px;
    height: 30px;
    background: #010e7e;
    border-radius: 4px;
}

.pagination_link--active{
    background: #0216cc;
    color: #fff;
}

.pagination_link-choose-page {
    background: #010e7e;
    border: none;
    text-align: center;
    width: 40px;
    color: gainsboro;
    font-weight: bold;
}

@media (max-width:800px){
    .forum-section_col-3,.forum-section_col-4 {
        display:none
    }

    .forum-section_mes--mobile {
        display: flex;
        justify-content: space-between;
        font-size: 12px
    }
}

/* Мини-чат */

.minichat-container {
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.minichat-header {
    background-color: #010e7e;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    color: #ffffff;
}

.minichat-message-box {
    padding: 5px;
    flex: 1;
    overflow-y: auto;
}

.minichat-message {
    margin-bottom: 3px;
}

.minichat-message img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.username {
    color: #010e7e;
    font-weight: bold;
}

.username:hover {
    color: #0216cc;
}

.minichat-message-text {
    color: black;
    margin-left: 3px;
}

.minichat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #f1f1f1;
}

.minichat-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    outline: none;
}

.minichat-input button {
    background-color: #32a852;
    padding: 7px 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 10px;
}

.minichat-input button:hover {
    background-color: #268741;
}

.time {
  font-size: 0.8em;
  color: gray;
  margin-left: 2px;
  margin-top: 5px;
}

/* Пост */

.Post{
    display: flex;
    border-bottom: 5px solid #010e7e;
}

.MainPost_info{
    text-align: left;
    font-size: small;
}

.Post_LeftCol{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #010e7e;
    padding-top: 5px;
    width: 120px;
    align-items: center;
}

.Post_LeftCol .username{
    text-align: center;
}

.Post_LeftCol img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.author_info{
    width: 150px;
    /* font-size: 12px; */
    transform: scale(.8);
    /* transform-origin: 0 100%; */
}

.Post_RightCol{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.Post_info{
    border-bottom: 1px solid #010e7e;
    font-size: small;
}

.Post_File{
    display: grid;
}

.Post_File img{
    max-width: 300px;
    height: auto;
}

/* Кнопка лайк */

.likeButton {
    display: flex;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .likeButton img{
    filter: brightness(2);
    margin-right: 5px;
    height: 18px;
    width: auto;
  }
  
  .likeButton.activated {
    background-color: #0076d1;
    color: #ffffff;
    border-color: #0076d1;
  }
  
  .likeButton.activated img{
    filter: brightness(0) invert(1);
  }